.statusLabel{
  display: inline;
  margin-right: 15px !important;
}
.dropdown{
  display: inline-block;
  padding-bottom: 15px;
}
.btn-toolbar{
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
.rw-datetime-picker{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
