nav {
    --float: right
}
nav p {
    display: inline-block;
    margin-right: 10px;
}
nav a {
    color:white;
}
.auth{
  display: inline;
}
.currUserContainer{
  display: inline-block;
  right: 0px;
  position: absolute;
  margin-top: -25px;
}
.currUserContainer p:first-child{
  display: inline;
}
.currUserContainer p:not(:first-child){
  font-size: 13px;
}
.logout{
  cursor: pointer;
}
